:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

/* ----------------------------------------------------------------------------- */
header nav ul {
    display: flex;
    background: linear-gradient(#fff, #1E1E1D 10%);
    padding-left: 10%;
    border-bottom: 1px solid #eee;
}

header nav ul li {
    padding: 0.5em;
}

header nav ul li:nth-of-type(1),
header nav ul li:nth-of-type(2),
header nav ul li:nth-of-type(3),
header nav ul li:nth-of-type(4) {
    border-right: 1px dashed #fff;
}

header nav ul li a {
    color: #fff;
    font-size: 0.75em;
}

header h1 {
    background: linear-gradient(to right, #170935, #53274C);
    margin: 0;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 600;
    color: #eee;
}

header nav ul li:hover {
    background: linear-gradient(to bottom, #eee, #53274C 10%);
}

/* ----------------------------------------------------------------------------- */
.contentWrapper {
    display: flex;
    margin: 0% 10%;
    margin-top: 0.5em;
    gap: 1em;
}

.sidebar1 img,
.sidebar2 img {
    width: 100%;
    height: 100%;
    padding: 1em 0em;
}

.sidebar1,
.sidebar2 {
    padding: 1em;
    min-width: 200px;
    max-width: 250px;
    font-size: 0.75em;
}

.sidebar1 h2,
.sidebar2 h2 {
    font-weight: 600;
    font-size: 1.25em;
    padding-bottom: 0.75em;
}

.sidebar1 h3,
.sidebar2 h3 {
    font-weight: 600;
    font-size: 1.15em;
    padding: 0.75em 0em 0.5em 0em;
}

.sidebar1 {
    border-right: 1px dashed grey;
}

/* Entiendo que a esta imagen se le quiere dar una distorsion para que el cocodrilo parezca mas largo */
.sidebar1 img {
    height: 200px;
}

.sidebar2 {
    border-left: 1px dashed grey;
}

.sidebar2 ul li {
    list-style-type: square;
    margin-left: 2em;
    line-height: 1.5em;
}

.sidebar2 ul li:last-of-type {
    margin-bottom: 1em;
}

/* ----------------------------------------------------------------------------- */
.main {
    width: 100%;
    max-width: 765px;
    font-size: 0.9em;
}

.main h2 {
    font-weight: 600;
    font-size: 1.5em;
}

.main img {
    width: 50%;
    min-width: 260px;
    height: 50%;
}

.main .fRight {
    float: right;
    padding-left: 1em;
}

.main .fLeft {
    float: left;
    padding-right: 1em;
}

.main h3 {
    font-weight: 600;
    font-size: 1.15em;
    margin-top: 1em;
}

/* ----------------------------------------------------------------------------- */
footer {
    border: 2px solid grey;
    font-size: 0.65em;
    background-color: #000;
    padding: 1em 10% 1em 10%;
}

footer>* {
    color: #eee;
}

footer p a {
    color: #fff;
    font-weight: 600;
}

/* ----------------------------------------------------------------------------- */
/* Media queries */
/* Guía std 0 - 640 - 1280 */

/* TABLET */
/* ----------------------------------------------------------------------------- */
@media all and (min-width:640px) and (max-width:1280px) {
    .contentWrapper {
        flex-direction: column;
    }

    .sidebar1,
    .sidebar2 {
        max-width: 100%;
    }

    .sidebar1 {
        border-right: 0px dashed grey;
        border-bottom: 1px dashed grey;
    }

    .sidebar1 img {
        max-width: 300px;
        height: 250px;
        float: left;
        margin-right: 1em;
    }

    .sidebar2 {
        border-left: 0px dashed grey;
        border-top: 1px dashed grey;
    }

    .sidebar2 img {
        max-width: 300px;
        height: 250px;
        float: left;
        margin-right: 1em;
    }
}

/* MOBILE */
/* ----------------------------------------------------------------------------- */
@media all and (max-width:640px) {
    header nav ul {
        flex-direction: column;
        background: linear-gradient(#fff, #1E1E1D 2%);
    }

    header nav ul li {
        padding: 0.1em;
    }

    /* --------------------------------------- */
    .contentWrapper {
        flex-direction: column;
    }

    .sidebar1,
    .sidebar2 {
        max-width: 100%;
    }

    .sidebar1 {
        border-right: 0px dashed grey;
        border-bottom: 1px dashed grey;
    }

    .sidebar1 img {
        max-width: 150px;
        height: 150px;
        float: left;
        margin-right: 1em;
    }

    .sidebar2 {
        border-left: 0px dashed grey;
        border-top: 1px dashed grey;
    }

    .sidebar2 img {
        max-width: 250px;

        margin-right: 1em;
    }

    /* --------------------------------------- */
    .main .fRight {
        float: none;
        padding-left: 0em;
    }

    .main .fLeft {
        float: none;
        padding-right: 0em;
    }

    /* --------------------------------------- */
    footer {
        font-size: 0.5em;
    }
}