html {
    background-color: #FCF69F;
}

#article {
    margin: 0 auto;
    width: 760px;
    border: 3px solid green;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
}

h1 {
    position: relative;
    text-transform: uppercase;
    color: #809D0D;
    background-color: #DBE7AA;
    width: 780px;
    left: -10px;
    font-size: 3em;
    text-align: center;
}

.sidebar {
    float: right;
    width: 200px;
    border: 2px dotted #FB6211;
    padding: 0px 20px 4px 20px;
    margin-left: 10px;
    border-top: 1.6em solid #FB6211;
    font-size: 0.95em;
    background-color: #F9E7BE;
}

h2 {
    color: #FB6211;
    border-top: dotted 1px #809D0D;
    border-bottom: dotted 1px #809D0D;
    padding: 4px;
}

h2:nth-of-type(1), h2:nth-of-type(2) {
    width: 500px;
}

.sidebar h2 {
    border: none;
}